<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title><%= i18next.t('todo_app_title') %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header') %>
            <a class="bg-blue-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb mt hover:bg-blue-800" href="/homepage"><%= i18next.t('home_link') %></a>
            <h6 class="py-4"><%= i18next.t('signin_title') %></h6>
            <form action="/session" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="py-3">
                    <label for="email"><%= i18next.t('email_label') %></label>
                    <input
                        type="email"
                        name="email"
                        class="border border-gray-600 text-gray-900 rounded p-2 w-full"
                    />
                </div>
                <div class="py-3">
                    <label for="password"><%= i18next.t('password_label') %></label>
                    <input
                        type="password"
                        name="password"
                        class="border border-gray-600 text-gray-900 rounded p-2 w-full"
                    />
                </div>
                <div class="py-3">
                    <button
                        type="submit"
                        class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2"
                    >
                        <%= i18next.t('signin_link') %>
                    </button>
                </div>
            </form>
            <div>
                <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <li><%= messages.error[i] %></li>
                    <% } %>
                <% } %>
            </div>
            <div><%- include('footer') %></div>
        </div>
    </div>
</body>
</html>
