<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css" />
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      function updateTodo(id, complete) {
        fetch(`/todos/${id}`, {
          method: "put",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            completed: complete,
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }

      function deleteTodo(id) {
        fetch(`/todos/${id}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }
    </script>
    <title>Todo-App</title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header') %>
        <%= loggedInUser.firstName %>
                    <%= loggedInUser.lastName %><br>
                        <div>
                            <a class="bg-blue-600 text-white px-3 py-0 rounded font-medium mr-2 mb" href="/homepage">Home</a>
                        </div>
                        <div><a class="bg-red-600 text-white px-3 py-0 rounded font-medium mr-2 mb mt-5" href="/signout">Signout</a></div>
      
        <form action="/todos" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input
                type="text"
                name="title"
                placeholder="What's Next?"
                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm"
              />
            </div>
            <div class="flex-auto">
              <input
                type="date"
                name="dueDate"
                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
              />
            </div>
            <div class="flex-none">
              <button
                type="submit"
                class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb"
              >
                Add
              </button>
            </div>
          </div>
        </form>
        <div><% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
                  <li > <%= messages.error[i] %></li>
          <% } %>
        <% } %></div>
        <div>
          <%- include('todo.ejs', {title: "Overdue", data: overDueItems}) %> <%-
          include('todo.ejs', {title: "Due Today", data: dueTodayItems}) %> <%-
          include('todo.ejs', {title: "Due Later", data: dueLaterItems}) %> <%-
          include('todo.ejs', {title: "Completed Items", data: completedItems})
          %>
        </div>
        <div><%- include('footer') %></div>
      </div>
    </div>
  </body>
</html>