<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css" />
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
        
      function updateTodo(id, complete) {
        fetch(`/todos/${id}`, {
          method: "put",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            completed: complete,
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }

      function deleteTodo(id) {
        fetch(`/todos/${id}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }
    </script>
    <title><%= i18next.t('todo_app') %></title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header') %>
        <%= loggedInUser.firstName %>
                    <%= loggedInUser.lastName %><br>
                    <div>
                      <a class="bg-blue-600 text-white px-3 py-0 rounded font-medium mr-2 mb" href="/homepage"><%= i18next.t('home_link') %></a>
                  </div>
                  <div><a class="bg-red-600 text-white px-3 py-0 rounded font-medium mr-2 mb mt-5" href="/signout"><%= i18next.t('signout_link') %></a></div>
                  
      
        <form action="/todos" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input
                type="text"
                name="title"
                placeholder="<%= t('add_button_placeholder') %>"
                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm"
              />
            </div>
            <div class="flex-auto">
              <input
                type="date"
                name="dueDate"
                placeholder="<%= t('due_date_placeholder') %>"
                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
              />
            </div>
            
            <div class="flex-none">
              <button
                type="submit"
                class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb"
              >
              <%= i18next.t('add_button') %>
              </button>
            </div>
          </div>
        </form>
        <div><% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
                  <li > <%= messages.error[i] %></li>
          <% } %>
        <% } %></div>
        <div>
          <%- include('todo.ejs', { title: i18next.t('overdue_title'), data: overDueItems, lng: lang , currentLanguage}) %>
          <%- include('todo.ejs', { title: i18next.t('due_today_title'), data: dueTodayItems, lng: lang, currentLanguage }) %>
          <%- include('todo.ejs', { title: i18next.t('due_later_title'), data: dueLaterItems, lng: lang , currentLanguage}) %>
          <%- include('todo.ejs', { title: i18next.t('completed_title'), data: completedItems, lng: lang , currentLanguage}) %>
        </div>
        <form action="/addTodoWithGemini" method="POST" class="flex items-center justify-center mt-8">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="text" name="prompt" placeholder="Ask AI to add a To-do item" class="border border-gray-300 py-2 px-4 rounded-md mr-2 focus:outline-none focus:border-blue-500">
          <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md focus:outline-none hover:bg-blue-600">Add</button>
      </form>
      
        <div><%- include('footer') %></div>
      </div>
    </div>
  </body>
</html>